<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .title }}</title>
  <link rel="shortcut icon" href="{{ .favicon }}" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="//unpkg.com/alpinejs" defer></script>

</head>
<body>
  {{ template "header.html" .}}
  </main>
  <div class="cookie" id="cookie" style="display: none;">
    {{ template "cookie.html" .}}

    <script src="static/js/cookieRemove.js"></script>
  </div>
  {{ template "footer.html" .}}


</body>
</html>
